@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'sf_pro';
    src: url('/src/public/fonts/SFPro/SF-Pro.ttf');
    font-weight: normal;
    font-style: normal;
}


:root {
    --gray-main: 28,28,28;
    --gray-secondary: 176,176,176;
    --gray-accent: 68,68,68;
    --green-main: 105, 213, 112;
    --red-main: 244, 119, 119;
    --pr-black: 28,28,28;
    --main-reversed: 255,255,255;
    --white-reversed: 0,0,0;
    --black-reversed: 255,255,255;
    --pr-t-black: 224,224,224;
    --pr-reversed: 0,0,0;
    --pr-accent: 68,68,68;
    --yellow-main: 204, 170, 0;
    @apply bg-pr-reversed text-pr-t-black;
}

@theme {
    --color-gray-main: rgba(var(--gray-main));
    --color-gray-secondary: rgba(var(--gray-secondary));
    --color-gray-accent: rgba(var(--gray-accent));
    --color-green-main: rgba(var(--green-main));
    --color-red-main: rgba(var(--red-main));
    --color-pr-black: rgba(var(--pr-black));
    --color-pr-t-black: rgba(var(--pr-t-black));
    --color-pr-reversed: rgba(var(--pr-reversed));
    --color-pr-accent: rgba(var(--pr-accent));
    --color-white-reversed: rgba(var(--white-reversed));
    --color-black-reversed: rgba(var(--black-reversed));
    --color-yellow-main: rgba(var(--yellow-main));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html,body {
    font-size: 14px;
    line-height: 17px;
    font-family: 'sf_pro', sans-serif;
    @apply bg-pr-reversed text-pr-t-black;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    @apply block w-full
}

.text-small {
    @apply text-[12px] leading-[14px]
}

.text-tiny {
    @apply text-[10px] leading-[12px]
}

.text-large {
    @apply text-[16px] leading-[19px]
}

.text-xlarge {
    @apply text-[18px] leading-[21px]
}

#scannerWrapper>div>div>div>div>div>div {
    border: none !important
}

#scannerWrapper>div>div>div>div>div>div>div {
    border-width: 7px !important;
}

#scannerWrapper>div>div>div>div>div>div>div:nth-child(1) {
    border-color: #fff transparent transparent #fff !important;
}

#scannerWrapper>div>div>div>div>div>div>div+div {
    border-color: #fff #fff transparent transparent !important;
}

#scannerWrapper>div>div>div>div>div>div>div+div+div {
    border-color: transparent transparent #fff #fff !important;
}

#scannerWrapper>div>div>div>div>div>div>div+div+div+div {
    border-color: transparent #fff #fff transparent !important;
}