@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'sf_pro';
    src: url('/public/fonts/SFPro/SF-Pro.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    @apply bg-pr-reversed text-pr-t-black;
}

.light {
    --gray-main: 248,248,248;
    --gray-secondary: 193,193,193;
    --gray-accent: 239,239,239;
    --green-main: 105, 213, 112;
    --red-main: 244, 119, 119;
    --pr-black: 0,0,0;
    --main-reversed: 255,255,255;
    --white-reversed: 255,255,255;
    --black-reversed: 0,0,0;
    --pr-t-black: 0,0,0;
    --pr-reversed: 255,255,255;
    --pr-accent: 0,0,0;
    --yellow-main: 204, 170, 0;
}

.dark {
    --gray-main: 28,28,28;
    --gray-secondary: 176,176,176;
    --gray-accent: 68,68,68;
    --green-main: 105, 213, 112;
    --red-main: 244, 119, 119;
    --pr-black: 28,28,28;
    --main-reversed: 255,255,255;
    --white-reversed: 0,0,0;
    --black-reversed: 255,255,255;
    --pr-t-black: 224,224,224;
    --pr-reversed: 0,0,0;
    --pr-accent: 68,68,68;
    --yellow-main: 204, 170, 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html,body {
    font-size: 14px;
    line-height: 17px;
    font-family: 'sf_pro', sans-serif;
    @apply bg-pr-reversed text-pr-t-black;
}

.font-large {
    font-size: 32px;
    line-height: 38px;
}

h1,h2,h3,h4,h5,h6 {
    @apply font-large font-bold block w-full
}

.text-small {
    @apply text-[12px] leading-[14px]
}

.text-tiny {
    @apply text-[10px] leading-[12px]
}

.text-large {
    @apply text-[16px] leading-[19px]
}

.text-xlarge {
    @apply text-[18px] leading-[21px]
}

h1 {
    @apply pr-9 text-3xl
}

.container-with-back h1 {
    @apply pl-9;
}

.blob_active {
    animation: blob_pop 0.25s, blob_pop 0.25s;
}

.autocomplete_select div[data-slot='input-wrapper'] {
    @apply rounded-[10px] px-5 py-3 min-h-0 border-none bg-gray-main w-full hover:shadow-none hover:!bg-gray-main focus-within:!bg-gray-main dark:hover:bg-gray-main focus:bg-gray-main group-data-[focus=true]:bg-gray-main dark:group-data-[focus=true]:bg-gray-main flex h-full;
}

.clipboard-input {
    @apply absolute -z-[1] top-0 opacity-0;
}

.dots-loading .dot {
    @apply transition-[0.3s] opacity-0
}

.dots-loading .dot-0 {
    @apply translate-x-[4.5rem];
}

.dots-loading .dot-1 {
    @apply translate-x-6;
}

.dots-loading .dot-2 {
    @apply -translate-x-6;
}

.dots-loading .dot-3 {
    @apply -translate-x-[4.5rem];
}

@keyframes blob_pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.9);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 10s infinite linear;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    1% {
        transform: scale(1.1);
    }
    2% {
        transform: scale(1);
    }
    3% {
        transform: scale(0.9);
    }
    4% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.grad {
    background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.dark .grad {
    background: linear-gradient(180deg,rgba(18, 18, 18, 0) 0%, rgba(18, 18, 18, 1) 100%);
}

#scannerWrapper>div>div>div>div>div>div {
    border: none !important
}

#scannerWrapper>div>div>div>div>div>div>div {
    border-width: 7px !important;
}

#scannerWrapper>div>div>div>div>div>div>div:nth-child(1) {
    border-color: #fff transparent transparent #fff !important;
}

#scannerWrapper>div>div>div>div>div>div>div+div {
    border-color: #fff #fff transparent transparent !important;
}

#scannerWrapper>div>div>div>div>div>div>div+div+div {
    border-color: transparent transparent #fff #fff !important;
}

#scannerWrapper>div>div>div>div>div>div>div+div+div+div {
    border-color: transparent #fff #fff transparent !important;
}